__pycache__/
.pytest_cache/
.pytype/
*.pyc

.env/
build/
dist/
*.egg-info/

*.yaml
*.log
logs/
scratch/
artifacts/
snappi/
models-release
cov_report/
.coverage
gosnappi/coverage.out
gosnappi/coverage.txt
.local
.vscode
*.proto
