*.pyc
.pycache
build
dist
.pytest_cache
snappi.egg-info
docs/openapi.yaml
*.yaml
snappi/*
!snappi/snappicommon.py
!snappi/snappigenerator.py
!snappi/tests
!snappi/__main__.py
# !snappi/tests/test_serialize.py
scratch
models-release