--prefer-binary
# flake8
requests
# grpcio==1.38.0 ; python_version > '2.7' # Warning - changing versions need thorough investigation
# grpcio-tools==1.38.0 ; python_version > '2.7' # Warning - changing versions need thorough investigation
# grpcio==1.35.0 ; python_version == '2.7' # Warning - changing versions need thorough investigation
# grpcio-tools==1.35.0 ; python_version == '2.7' # Warning - changing versions need thorough investigation
# jsonschema==3.2.0
# protobuf==3.15.0 # Warning - changing versions need thorough investigation
# click==8.0.4; python_version > '2.7'
# openapiart==0.1.44
git+https://github.com/open-traffic-generator/openapiart@26dfb1d2daa99a4e75b5ed3ad6bbcfc57aceff52
