grpcio-tools~=1.75.1; python_version >= "3.9"
grpcio-tools~=1.70.0; python_version < "3.9"
grpcio~=1.75.1; python_version >= "3.9"
grpcio~=1.70.0; python_version < "3.9"
protobuf~=6.33.0; python_version >= "3.9"
protobuf~=5.29.5; python_version < "3.9"
PyYAML
requests
urllib3
semantic_version
